<app-nav-bar></app-nav-bar>
<div class="container mt-5">
  <h3 class="text-center" *ngIf="pensionerDetails">
    Hi {{ pensionerDetails.name }} , Your Pension Details are here
  </h3>
  <div class="shadow-lg p-3 mb-5 bg-white rounded mt ml mr">
    <ng-container *ngIf="pensionAmounts">
      <table class="table table-striped">
        <tr>
          <th>Pension Amount</th>
          <td>{{ pensionAmounts.pensionAmount | currency: "INR":"symbol" }}</td>
        </tr>
        <tr>
          <th>Bank Service Charges</th>
          <td>
            {{ pensionAmounts.bankServiceCharge | currency: "INR":"symbol" }}
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
</div>
<div class="container mt-5 text-center">
  <div class="alert-success">
    <ng-container *ngIf="pensionAmounts">
      {{ message }}
    </ng-container>
  </div>
  <div class="alert-danger">
    <ng-container *ngIf="!pensionAmounts">
      {{ message }}
    </ng-container>
  </div>
</div>
