<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <h2 class="card-title">LOGIN</h2>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div id="user-data" ngModelGroup="user" #userData="ngModelGroup">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                ngModel
                name="username"
                placeholder="User Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                id="password"
                class="form-control"
                required
                ngModel
                name="password"
                type="password"
                placeholder="Password"
              />
            </div>
          </div>
          <br />
          <div class="text-right">
            <button
              type="submit"
              class="btn btn-success mr-4"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
            <button type="reset" class="btn btn-primary">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
